page-login {

#closebtn {
	color: #9012FE;
}
#gobtn {
	color: #9012FE;
}
.borders {
	
	margin-bottom: 10px;
	border: 2px solid #9012FE;
	border-radius: 5px;
	width: 100%;
	height:50px;
}
ion-label {
	font-size: 14px;
}
ion-input {
	font-size: 14px;
}
#content {
	background-color: #E8E8E8;
}
#fpassbtn {
	
	color: black;
	font-size: 15px;
}
#fpass {
	text-align: center;
}

}
