page-location {

#mapimg {
	position: relative;
	top: 60px;
	left: 50px;
    width:70%;
}

#h6caption {
	color: #9400D3;
	text-align: center;
	position: relative;
	top: 80px;
}
div#caption {
	color: grey;
	text-align: center;
	position: relative;
	top: 90px;
	line-height: 0.5cm;
	font-size: 14px;
}
#notnowbtn {
	position: relative;
	top: 95px;
	left: 40px;
	color: #D3D3D3;
}
#okbtn {
	position: relative;
	top: 95px;
	left: 70px;
	background-color: #9400D3;
	width: 103px;
}





}
