page-register {

#titlesignin {
	color: #B200FF;
	text-align: center;

}

#colsebutton {
	
	color: #B200FF;
}
#signbut {
	color: black;
}

#ipfeilds {
	width: 320px;
	height: 100px;
	background: #FFFFFF;
	


}
#content {
	background: #F5F5F5;
}
ion-label {
	font-size: 14px;
}
ion-input {
	font-size: 14px;
}
#Policy {
	font-size: 9px;
	color: grey;
	text-align: center;
	position: relative;
	top: 80px;
}
#newAcbtn {
	background: #B200FF;
	top: 90px;
	margin-left: auto;
    margin-right: auto;

}


}
