page-notification {

#notiimg {
	
	width: 50px;
	heigth: 50px;

}
#caption {
	color: #B200FF;
	font-size: 18px;
	position: relative;
	top: 185px;
}
#para {
	line-height: 0.5cm;
	color: grey;
	text-size: 17px;
	position: relative;
	top: 196px;
}
#policy {
	color: grey;
	text-size: 15px;
	position: relative;
	top: 221px;
}
#notnowbtn {
	position: relative;
	top: 240px;
	left: 40px;
	color: #D3D3D3;
}
#okbtn {
	position: relative;
	top: 240px;
	left: 70px;
	background-color: #9400D3;
	width: 103px;

}

}
