page-notification {


#caption {
	color: #9012FE;
	font-size: 18px;
	position: relative;
	top: 185px;
}
#para {
	line-height: 0.5cm;
	color: grey;
	text-size: 17px;
	position: relative;
	top: 196px;
}
#policy {
	color: grey;
	text-size: 15px;
	position: relative;
	top: 221px;
}
#notnowbtn {
	position: relative;
	top: 240px;
	left: 40px;
	color: #D3D3D3;
}
#okbtn {
	position: relative;
	top: 240px;
	left: 70px;
	background-color: #9D2EFE;
	width: 103px;

}
.notifimg {
	position: fixed;
	top: 80px;
	width: 40%;
	height: 40%;
	left: 0;
	right: 0;
	margin: auto;

}

}
