page-editinfo {
	
#closebtn {
	color: #9400D3;
}
#tickbtn {
	color: #9400D3;
}

#content {
	background: #DCDCDC;

}
#impblock {
	
}
#is {
	font-size: 13px;
}

ion-label {
	font-size: 12px;

}
ion-input {
	font-size: 12px;
}
#locbtn {
	
}

}
