page-slides {

#skipbtn {
	color: white;
	float: right;
}
#contentpage {
	background: black;	
}
#para {
	line-height: 0.5cm;
	font-size: 12px;
	color: white;
	text-align: center;
}

#slidepart {
	position: relative;
	top: 10px;
}
.swiper-pagination-bullet-active {
	background: white;
}




}
